.page {
  background-color: #edf0f6;
  position:fixed;
  width:100%;
  height:100%;
  z-index:1000;
}
  
.container4 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.testFirstQuestion {
    text-align: center;
    padding: 100px;
}

.sectionPart {
  padding: 10px;
}

.button5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  
}

.welc {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.welcButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.section2Part {
  margin: 5px;
}

  .item5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
  }


  .button-text {
    height: 300px; 
  
    display: flex;
    flex-direction: column;
    
  }

.introText {
    width: 250px;
}

.nextPuzzle {
  width: 250px;
}