.page {
    background-color: lightgray;
    height: 1000px;
}
  
.container4 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.test {
    text-align: center;
    padding-top: 100px;
}

ul {
    display: flex;
        justify-content: center;
        padding-bottom: 20px;
        padding: 10px;
}

.button5 {
    display: flex;
    justify-content: center;
  }

  .item5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
  }


  .button-text {
    height: 300px; 
  
    display: flex;
    flex-direction: column;
    
  }

.introText {
    width: 250px;
    background-color: rgb(148, 148, 123);
}

.nextPuzzle {
  width: 250px;
}