.Overlay {
    background-color: #5a6af6;
    position:fixed;
    width:100%;
    height:100%;
    z-index:1000;
}

.Container {
    padding-top: 15px;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.board2 {
    padding-top: 10px;
    padding-right: 50px;
    width: 500px;
    height: 500px;
}

.textButton {
    width: 400px;
    
}